.PoemGen{
  pre{
    font-size: 8px;
    background: #ccc;
    max-height: 400px;
    overflow: auto;
  }
  .result{
    background: #eee;
    line-height: 3;
    .poem-row{
      .head{
        font-weight: bold;
      }
      .source {
        font-size: 10px;
        padding-left:8px;
        color:#333;
      }
    }
  }
}